.Events {
    height: 500px;
    padding: 0 1em 1em;
    margin: 0 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 15px 1px rgb(196, 196, 196);
}


/* Responsiveness */
@media (max-width: 900px) {
    .Events {
        height: 400px;
        font-size: 13px;
    }
}