.Events {
    height: 600px;
    padding: 0 1em 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventHeading {
    text-align: center;
    border-bottom: 5px solid #333;
    height: 3.5rem;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.eventHeading h1 {
    font-size: 3rem;
    color: #00629B;
}

/* Responsiveness */
@media (max-width: 900px) {
    .Events {
        height: 500px;
        font-size: 13px;
    }
}