.Events {
    height: 600px;
    padding: 0 1em 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Responsiveness */
@media (max-width: 900px) {
    .Events {
        height: 400px;
        font-size: 13px;
    }
}