.student {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Students div */
.students {
    width: 200px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1.6/2;
    cursor: pointer;
    position: relative;
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.15),
        0 0 8px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: all 0.8s ease;
}

.students:hover {
    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.2),
        0 0 12px rgba(255, 255, 255, 0.4);
    transform: translateY(-10px);
}

.Faculty .students {
    width: 250px;
}

/* Inner texts */
.studentInside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.studentInside h3 {
    font-weight: 500;
    text-align: center;
}

/* Handling the image */
.students img {
    position: absolute;
    width: 100%;
    transition-duration: 0.4s;
    object-fit: cover;
    z-index: 3;
}

.students:hover img {
    opacity: 30%;
    filter: blur(2px);
}

/* Animations */
.show {
    animation-name: reveal;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes reveal {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 30%;
        filter: blur(2px);
    }

    100% {
        opacity: 100%;
    }
}