.Teams {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.team {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faculty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}