/* Setting the entire section */
.Abouts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* About IIITB */
.iiitb {
    background: url('../../assets/inog.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    max-height: 500px;
    aspect-ratio: 16/9;
    margin: 1rem 15%;
    box-shadow: 10px 10px 15px 1px rgb(196, 196, 196);
}

.iiitb-wrapper {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iiitb img {
    width: 15%;
}

.label {
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 2%;
    margin: 2%;
    font-size: 18px;
}

@media (max-width: 1000px) {
    .label {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .label {
        font-size: 13px;
    }
}

.label p {
    margin: 0;
    text-align: center;
    padding: 1%;
    font-size: 1em;
    font-family: 'Playfair';
}

/* About IEEE */
.IEEE {
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.IEEELogoWrapper {
    width: 100%;
    display: grid;
    place-items: center;
}

.IEEE img {
    width: 100%;
}

.logoBG {
    width: 70%;
    aspect-ratio: 1/1;
    padding: 5%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(235, 235, 235);
}

.IEEE_Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.IEEE_Text p {
    padding: 3rem;
    color: black;
    font-size: 2em;
}

/* About Computer Society */
.IEEE_CS {
    display: grid;
    grid-template-columns: 70% 30%;
    min-height: 300px;
}

.IEEE_CS img {
    width: 100%;
}

/* Font Sizing */
.IEEE_CS,
.IEEE {
    font-size: 14px;
}

@media (max-width: 1000px) {

    .IEEE_CS,
    .IEEE {
        font-size: 13px;
    }
}

@media (max-width: 768px) {

    .IEEE_CS,
    .IEEE {
        font-size: 10px;
    }
}