/* Setting the entire section */
.AboutIIITB,
.AboutIEEE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 2rem;
}

/* About IIITB */
.iiitb {
    background: url('../../assets/inog.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    max-height: 500px;
    aspect-ratio: 16/9;
    margin: 1rem auto;
    box-shadow: 10px 10px 15px 1px rgb(196, 196, 196);
}

.iiitb-wrapper {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.iiitb img {
    width: 15%;
    max-width: 100px;
}

.label {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 2%;
    font-size: 1rem;
}

.label p {
    margin: 0;
    text-align: center;
    padding: 1%;
    font-size: 1.1em;
    font-family: 'Playfair';
    font-weight: 550;
    color: rgb(3, 3, 62);
}

@media (max-width: 1000px) {
    .label {
        font-size: 0.9rem;
    }

    .iiitb img {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .label {
        font-size: 0.8rem;
    }

    .iiitb {
        width: 95%;
    }

    .iiitb img {
        width: 25%;
    }
}

/* About IEEE */
.IEEE {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.IEEELogoWrapper {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.IEEE img {
    width: 100%;
    max-width: 150px;
}

.logoBG {
    width: 70%;
    aspect-ratio: 1/1;
    padding: 5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;
}

.IEEE_Text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.IEEE_Text p {
    padding: 2rem;
    color: black;
    font-size: 1.5rem;
}

/* About Computer Society */
.IEEE_CS {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.IEEE_CS img {
    width: 100%;
    max-width: 200px;
}

/* Font Sizing Adjustments */
@media (max-width: 1000px) {

    .IEEE_CS,
    .IEEE {
        font-size: 0.9rem;
    }

    .IEEE_Text p {
        font-size: 1.2rem;
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {

    .IEEE_CS,
    .IEEE {
        font-size: 0.8rem;
    }

    .IEEE_Text p {
        font-size: 1rem;
        padding: 1rem;
    }
}