.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.home-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 150%;
    width: 150%;
    transform: rotate(-15deg) translateX(-5%) translateY(-70%);
    overflow: hidden;
}

.home-background img {
    width: 100%;
    height: 100%;
}

.home-box {
    max-width: 60%;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.home-text {
    width: 100%;
    height: 100%;
    padding: 1rem 2.5rem 1rem;
    background: #D6E8F5;
    border-radius: 2rem 0 0 2rem;
}

.home-text h1 {
    color: #0752a7;
    font-size: 2em;
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
    padding: 0.5rem 0;
}

.home-text p {
    color: #002147;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 1.5rem 0;
    width: 100%;
    max-height: 100%;
}

.home-carousel {
    width: 100%;
    aspect-ratio: 4/5;
    z-index: 2;
    overflow: hidden;
    border-radius: 1rem;
    min-width: 300px;
}

.homeCarousel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

@media (max-width:1100px) {
    .home-box {
        flex-direction: column-reverse;
        padding: 0.2rem;
        background-color: transparent;
        font-size: 14px;
    }

    .home-carousel {
        width: 70%;
        transform: none;
    }

    .home-text {
        padding: 0.5rem 1.5rem;
        border-radius: 2rem;
    }

    .home-carousel h1 {
        padding: 0.1rem;
    }
}

@media (max-width: 768px) {
    .home-text h1 {
        font-size: 1.5em;
    }

    .home-text p {
        font-size: 1em;
    }

    .home-carousel {
        width: 90%;
    }
}

.homeCarousel img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    aspect-ratio: 4/5;
    transition: all 500ms;
}

.homeCarousel button {
    all: unset;
    width: 10%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeCarousel button:hover {
    background-color: rgba(245, 245, 245, 0.7);
    cursor: pointer;
}

.homeCarousel button img {
    all: unset;
    width: 80%;
}