footer {
    background: url('../../assets/sectionTransitions/wave-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 170px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

footer div img {
    max-width: 180px;
    filter: brightness(0) invert(1);
}

footer div h2 {
    margin: 1rem 0;
}

footer div a {
    margin: 0.5rem;
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15%;
}


.credits {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    background-color: #1d99cc;
    color: white;
}

.credits p {
    margin: 0 1rem;
}